<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Notepad App</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="list-group">
        <div
           href="#" 
           *ngFor="let note of notes; let i = index" 
           class="list-group-item list-group-item-action"
           [class.active]="activeItem == i"
           (click)="selectNote(note, i)"
           [ngStyle]="{'font-size': note.favourite === true ? '24px': '16px', 'color': note.color}"
           >
          {{ note.title }}
        </div>

        <div>
          Please select note or <a href="#" class="note-new" (click)="newNote()">click here to create new one</a>
        </div>
  
          
      </div>
    </div>      
  </div>
  <div class="row">
    <div class="col-xs-6" *ngIf="showForm">
      <div>
        <form (ngSubmit)="saveNote(selected)">
          <div class="form-group">
            <label for="title">Title:</label>
            <input class="note-title form-control" type="text" name="title" [(ngModel)]="selected.title" required (keyup)="changeTitle($event)">
            <div *ngIf="titleError" class="form-error">Field is required</div>
          </div>
          <div class="form-group">
            <label for="body">Note:</label>
            <textarea class="note-body form-control" name="body" [(ngModel)]="selected.body"></textarea>
          </div>
          <div class="form-group">
            <label for="favourite">Favourite:</label>
            <input type="checkbox" class="note-favourite" name="favourite" [(ngModel)]="selected.favourite">
          </div>
          <div class="form-group">
            <label for="color">Color:</label>
            <input type="color" class="note-color" name="color" [(ngModel)]="selected.color">
          </div>
          <div class="form-group">
            <button class="btn btn-success note-save" *ngIf="!titleError" type="submit">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>  
</div>